body {
    margin:  0;
    background-color: white;
    color: white;
}
#main-canvas{
    display: block;
    border: solid 2px white;
    width: 99vw;
    height: 99vh;
}
#main-canvas-div{
    display: block;
    width: 100%;
    height: 100%;
    float: left;
}
